.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3;
  background: yellow;
}

.chatMenuInput {
  width: 70%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid red;
}

.chatBox {
  flex: 5.5;
  background: pink;
}

.chatBoxWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 100px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
